<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ title or "mikey-semy — intro" }}</title>
  <link rel="stylesheet" href="/assets/styles.css" />
</head>
<body>
  {% include "header.njk" %}
  <main class="container">
    {{ content | safe }}
  </main>
  {% include "footer.njk" %}
</body>
</html>
